.body {
    margin: var(--marginSize);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--marginSize);
    &__column {
        width: calc(100% - var(--paddingSize) * 2);
        height: calc(100vh - var(--marginSize) * 2 - var(--paddingSize) * 2);
        background-color: var(--subColor);
        border-radius: var(--borderRadius);
        padding: var(--paddingSize);
    }
}
